
<div class="search-results"  
     infiniteScroll

    [infiniteScrollDistance]="3"

    [infiniteScrollThrottle]="50"

    (scrolled)="onScroll()"

    [infiniteScrollDisabled]="isFullListDisplayed"

    [scrollWindow]="false">
    <br><br>
    
      <!--<mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>
          Notifications of the day :
        </mat-card-title>
        <mat-card-subtitle>
            Its a sunny day.
          </mat-card-subtitle>
        </mat-card-header></mat-card>
      -->

<div align="center">
<mat-card class="example-card">
  <mat-form-field class="your-thoughts">
  <textarea (keyup)="onThoughtKeyUp($event)" matInput placeholder ="Your thoughts :" [(ngModel)]="thought" matTextareaAutosize matAutosizeMinRows="2"
            matAutosizeMaxRows="2"></textarea>        
</mat-form-field>
<mat-card-actions>
   <button mat-button (click)="deleteThought()" class="buttons" >CLEAR</button>
    <button mat-button (click)="shareThought()" class="buttons" >POST</button>
  
  </mat-card-actions>
</mat-card>

<div *ngFor="let t of thoughtToShare.reverse()" > 
    <mat-card class="example-card-content">
  <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mohammad Farman Abbasi</mat-card-title>
      <mat-card-subtitle>TEKsystems </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.teksystems.com/-/media/FPO-image-750x350-logo.png" alt="Photo of a TEKsystems">
        <mat-card-content>
            <span *ngIf="toShare">{{t}}</span>
            <button mat-button class="delete-post">like</button>
            <button mat-button class="delete-post">comment</button>
      </mat-card-content>
</mat-card>
</div>
<!--
<div *ngFor="let t of itemsToShow; let i = index">
    <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{t.name}}</mat-card-title>
      <mat-card-subtitle>{{t.desc}} {{i+1}} </mat-card-subtitle>
    </mat-card-header>
   
    <img mat-card-image src="https://www.teksystems.com/-/media/FPO-image-750x350-logo.png" alt="Photo of a TEKsystems">
    <mat-card-content>
       <div class ="bodyText" *ngIf="found"><span>
          {{i+1}} {{dataContent[i]}}
       </span></div>
    </mat-card-content>
       <mat-card-actions>    
      <button mat-button  >LIKE</button>
      <button mat-button   >COMMENT</button>
    </mat-card-actions>
  </mat-card>

  </div>-->

  </div>
  </div>
  
<router-outlet></router-outlet>