

 
<!--step 6    -->
<div class="search-results"  
     infiniteScroll

    [infiniteScrollDistance]="2"

    [infiniteScrollThrottle]="50"

    (scrolled)="onScroll()"

    [infiniteScrollDisabled]="isFullListDisplayed"

    [scrollWindow]="false">

    <div align="center">
      <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title>
          Notifications of the day
        </mat-card-title>
        <mat-card-subtitle>
            Today is a heavy day.
          </mat-card-subtitle>
        </mat-card-header></mat-card>
    
<!--
<p style="text-align: right; margin-right: 50px; margin-bottom: 1rem;" *ngFor="let item of itemsToShow">

 {{item.name}}
 </p>-->

<br>

<div *ngFor="let t of itemsToShow ; let i = index">
     
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{t.name}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
       <div *ngIf="found"><span>
          {{i+1}} {{t.desc}}
       </span></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button >LIKE</button>
      <button mat-button  >SHARE</button>
    </mat-card-actions>
  </mat-card>
  </div>
  </div>
  
	</div>

   

  

<router-outlet></router-outlet>