<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1></div>
 
  <mat-toolbar class ="didi" >
    <mat-toolbar-row>
      <span>MyMaterial</span>
  
      <span class="example-spacer"></span>
      <button mat-button routerLink="cards">Cards</button>
      <button mat-button>About</button>
      <button mat-button>Services</button>
      <button mat-button>Contact</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
 
  
  <br>

  

  <!--pagination step 1.........................................-
  <div class="search-results" *ngFor="let item of itemsToShow"

    infiniteScroll

    [infiniteScrollDistance]="2"

    [infiniteScrollThrottle]="50"

    (scrolled)="onScroll()"

    [infiniteScrollDisabled]="isFullListDisplayed"

    [scrollWindow]="false">
    <p><span>{{item}}</span></p>
  </div>
-->
  <!--for card......................................................-->

 <router-outlet></router-outlet>


