<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1></div>
 
  <mat-toolbar class ="didi"  >
    <mat-toolbar-row>
      <span>MyMaterial</span>
  
      <span class="example-spacer"></span>
      
      <button mat-button>About</button>
      <button mat-button>Services</button>
      <button mat-button>Contact</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <br>
  <br>

  
  <!--for card......................................................-->
  <div align="center">
  <mat-card class="example-card">
    <mat-card-header>
    <mat-card-title>
      Notifications of the day
    </mat-card-title>
    <mat-card-subtitle>
        Today is a heavy day.
      </mat-card-subtitle>
    </mat-card-header></mat-card>
  
<br>

<div *ngFor="let z of dog">
  <div *ngFor="let t of dataContent ; let i = index">
     
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{z.name}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
     <div *ngIf="found"><span>
        {{i+1}} {{t}} 
     </span></div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button >LIKE</button>
    <button mat-button  >SHARE</button>
  </mat-card-actions>
</mat-card>
</div>
</div>
<br>
 <router-outlet></router-outlet>


